@model IPagedList<Jobs.Models.JobEntry> 
@{
    ViewData["Title"] = "Export Collection";
}

@functions {
    static string JobState(Jobs.Entities.JobStatus c)
    {
        return c switch
        {
            Jobs.Entities.JobStatus.Pending => "warning",
            Jobs.Entities.JobStatus.Running => "warning",
            Jobs.Entities.JobStatus.Composite => "primary",
            Jobs.Entities.JobStatus.Finished => "success",
            Jobs.Entities.JobStatus.Unknown => "secondary",
            _ => "danger",
        };
    }
}

<div class="row">
<div class="container card-container">

<div class="card window-card container-fluid">
<div class="card-body">
<h2>
    Export Jobs
</h2>
<div class="card-table">
<table class="table table-hover">
<thead>
    <tr role="row">
        <th scope="col" style="min-width:17em">name</th>
        <th scope="col" style="min-width:13em">time</th>
    </tr>
</thead>
<tbody>
@foreach (var job in Model)
{
    <tr data-toggle="gotoUrlV2" data-href="@Url.Action("Detail", "Jobs", new { area = "Dashboard", id = job.JobId })">
        <td>
            <i class="fas fa-info-circle text-@JobState(job.Status)" title="@job.Status"></i> @job.SuggestedFileName
            <br class="d-none d-md-inline" />
            <span class="d-none d-md-inline">@job.JobId</span>
        </td>
        <td>
            <span title="start time"><i class="far fa-calendar-alt fa-fw"></i> @Html.CstTime(job.CreationTime)</span>
            <br class="d-none d-md-inline" />
            <span title="duration" class="d-none d-md-inline"><i class="far fa-clock fa-fw"></i> +@((job.CompleteTime - job.CreationTime)?.ToString() ?? "N/A")</span>
        </td>
    </tr>
}
@if (Model.Count == 0)
{ 
    <tr>
        <td colspan="2" class="text-md-center">
            No data available in table
        </td>
    </tr>
}
</tbody>
</table>
</div>
</div>
</div>
    
<div class="card window-card container-fluid card-pagination">
<div class="card-body">
    <pagination bs-current-page="@Model.CurrentPage" bs-total-page="@Model.TotalPage" />
</div>
</div>

</div>
</div>
